.form-boss {
  width: 100%;
  margin-top: 8rem;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 45rem;
  border: 1px solid rgba(0, 0, 0, 0.263);
  border-radius: 2rem;
  padding: 4rem;
}

.form-container h1 {
  text-align: left;
  font-size: 3rem;
  font-weight: 700;
}
.form-container h2 {
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.form-container h3 {
  color: #04aa6d;
  font-size: 1.3rem;
  user-select: none;
}
.form-container p {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  user-select: none;
}
.form-container input {
  color: black;
  font-size: 1.4rem;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  height: 5rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.263);
}

.input-handle {
  margin-bottom: 4rem;
}

.form-head {
  display: flex;
  justify-content: space-between;
}
.form-sign {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.form-sign p {
  margin-right: 1rem;
}

.form-button {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding: 1rem;
  border-radius: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.263);
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  user-select: none;
}

.form-icons {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.form-forgot {
  text-align: center;
}
